<%- include('partials/_header') -%>

  <body>
    <!-- Navigation -->
    <%- include('partials/_navigation') -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1 class="mb-4"><%= post.title %></h1>
              <span class="meta"
                >Posted by
                <%= post.createdAt %></span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <div class="post-flex">

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <%= post.detail %>
          </div>
        </div>
      </div>
    </article>
    <!-- Share box -->
    <div class="tm-bg-gray tm-share-box">
      <div class="text-center">
        <a href="/posts/edit/<%= post._id %>" class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update Details</span></a>  
      </div>  
      <div class="text-center">
        <a href="/posts/<%= post._id %>?_method=DELETE" class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"
        
        onclick="return confirm('ARE YOU SURE?')"><span>Delete Post</span></a>  
      </div>                
    </div>
    <hr />
  </div>

    <!-- Footer -->
    <%- include('partials/_footer') -%>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>
  </body>
</html>
